.landing {
  position: relative;
  display: flex;
  height: 100vh;
  overflow: hidden;

  .hero {
    padding-left: 60px;
    padding-right: 60px;
    height: 100vh;
    width: 100vw;
    background-color: #141516;
    display: flex;
    align-items: center;
  }

  .container {
    display: flex;
    align-items: center;
  }

  .textcontainer {
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
  }

  .primarytext {
    font-size: 8rem;
    line-height: 95%;
  }

  .secondarytext {
    font-size: 1rem;
    padding-left: 0.5rem;
    padding-bottom: 0.8rem;
  }

  .description{
    width: 540px;
    padding-left: 0.5rem;
  }

  span{
    text-decoration: underline;
  }

  .button{
    top: 65%;
    left: calc(100% - 400px); 
    width: 180px;
    height: 180px;
    background-color: #1C1D20;
    color: white;
    border-radius: 50%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    p{
        margin: 0px;
        font-size: 16px;
        font-weight: 300;
        position: relative;
        z-index: 1;
    }
}
}
